body{
    background-color: beige;
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.div0{
    color: #000;
}
.div1{
    color: rgb(184, 3, 133);
}

.div3{
    color:darkorange;
}
.div4{
    color: darkgreen;
}
.DeuxiemeFichier, .PremierFichier{
    color: #000;
    font-weight: 900;
    text-decoration: underline;
    font-size: 1.5em;
}